<div >
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row">
                    <div class="col-md-4" ng-repeat="file in search_file" ng-hide="search_file.length == 0" ng-show="show_bin_box" ng-init="show_bin_box = true">
                        <div class="thumbnail">
                            <img alt="300x200" src="{{file['image']}}" />
                            <div class="caption">
                                <h3>
                                    {{file['headline']}}
                                </h3>
                                <p>
                                    {{file['introduction']}}
                                </p><br>
                                <div ng-hide="file['labels'].length == 0">
                                    <span ng-repeat="label in file['labels']" class="badge pull-right">{{label}}</span>
                                </div><br>
                                <p>
                                    <div class="row clearfix">
                                        <div class="col-md-4 column">
                                        </div>
                                        <div class="col-md-4 column">
                                                <a class="btn btn-default" href="#" ng-click="recover(file['image'])">恢复</a>
                                        </div>
                                        <div class="col-md-4 column">
                                                <a class="btn btn-danger" href="#">彻底删除</a>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-repeat="file in lasted_file" ng-hide="search_file.length != 0" ng-show="show_bin_box" ng-init="show_bin_box = true">
                        <div class="thumbnail">
                            <img alt="300x200" src="{{file['image']}}" />
                            <div class="caption">
                                <h3>
                                    {{file['headline']}}
                                </h3>
                                <p>
                                    {{file['introduction']}}
                                </p><br>
                                <div ng-hide="file['labels'].length == 0">
                                    <span ng-repeat="label in file['labels']" class="badge pull-right">{{label}}</span>
                                </div><br>
                                <p>
                                    <div class="row clearfix">
                                        <div class="col-md-4 column">
                                        </div>
                                        <div class="col-md-4 column">
                                                <a class="btn btn-default" ng-click="recover(file['image']);" >恢复</a>
                                        </div>
                                        <div class="col-md-4 column">
                                                <a class="btn btn-danger" href="#" ng-click="totally_delete(file['image']);" >彻底删除</a>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    