<div class="modal fade" id="call_friend_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    寻找好友
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" ng-model="friend" placeholder="你的好友"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="f in friends" ng-click="call_friend(f['email'])" >{{f['name']}}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="modal-dialog" ng-show="temp_save == true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                </button>
                <h3 class="modal-title" id="myModalLabel" style="align-content: center">
                    保存文件成功!
                </h3>
            </div>
        </div>
    </div> -->
</div>