<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-1 column">
                <div class="handler1" >
                        <a class="rect" href="javascript:;">矩形</a>
                        <a class="round" href="javascript:;">圆形</a>
                        <a class="line" href="javascript:;">直线</a>
                        <a class="curve" href="javascript:;">曲线</a>
                        <a class="arrow" href="javascript:;">箭头</a>
                        <a class="ease" href="javascript:;">橡皮</a>
                        <a class="back" href="javascript:;">后退</a>
                        <a class="forward" href="javascript:;">前进</a>
                        <a class="clear" href="javascript:;">清除</a>
                        <a class="save" href="javascript:;" ng-click="save_canvas_file()" data-toggle="modal" data-target="#save_file_model">保存</a>
                        <a ng-click="only_video()" ng-show="drawhtml">全屏</a>
                        <input class="lineWidth" value="1" autocomplete="off" />
                        <span style="background: red;"></span>
                        <span style="background: green;"></span>
                        <span style="background: blue;"></span>
                        <span style="background: #000;"></span>
                </div>	
            </div>
            <div class="col-md-11 column">
                <div class="con1" style="margin:0px 0px 0px -40px"></div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="save_file_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        保存文件
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" ng-model="headline"/>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" >添加标签</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="" ng-model="labels"/>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" ng-model="introduction"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="save_empty_file()">保存</button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="modal-dialog" ng-show="temp_save == true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel" style="align-content: center">
                        保存文件成功!
                    </h3>
                </div>
            </div>
        </div> -->
    </div>
        
</div>