<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebRTC</title>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body ng-app="login_app" ng-controller="main_controller">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebRTC</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><button style="margin: 12px 10px 0px 0px" class="btn btn-default btn-md" data-toggle="modal" data-target="#LoginModal"><span class="glyphicon glyphicon-log-in"></span>&nbsp 登录</button></li>
                    <li><button disabled="true" style="margin: 12px 10px 0px 0px" class="btn btn-primary btn-md" data-toggle="modal" data-target="#RegisterModal"><span class="glyphicon glyphicon-user"></span>&nbsp 注册</button></li>
                </ul>
            </div>
        </nav>

        <section class="row">
            <div class="panel panel-default">
                <h1 style="text-align: center;">免费在线作图，语音视频实时协作</h1>
                <div style="text-align:center"><iframe width="640" height="360" src="https://www.youtube.com/embed/nomo2Z_AS5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
            </div>
        </section>
        <!-- <section class="row">
                <div class="panel panel-default" style="background-color:rgb(245, 245, 245);">
                    <h1 style="text-align: center;">高效易用、轻松绘制</h1>
                    <p style="text-align: center;">WebRTC是一个在线作图平台，它可以在线画流程图、思维导图、UML图、组织结构图等等，</p>
                    <p style="text-align: center;">您无需担心下载和更新的问题，不管Mac还是Windows，一个浏览器就可以随时随地的发挥创意，规划工作</p>
                    <div style="text-align:center"><iframe width="819" height="462" src="https://www.youtube.com/embed/PEXnbTyygi4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                </div>
        </section>
        <section class="row">
                <div class="panel panel-default">
                    <h1 style="text-align: center;">团队协作、头脑风暴</h1>
                    <p style="text-align: center;">您可以把作品分享给团队成员或好友，无论何时何地大家都可以对作品进行编辑、阅读和评论</p>
                    <div style="text-align:center"><iframe width="819" height="462" src="https://www.youtube.com/embed/PEXnbTyygi4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                </div>
        </section> -->

        <!-- 模态框（Modal）登录 -->
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="login_controller">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            登录界面
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="loginForm" novalidate>
                            <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" ng-model="email" required/>
                                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                            <span ng-show="loginForm.email.$error.required">邮箱是必须的。</span>
                                            <span ng-show="loginForm.email.$error.email">非法的邮箱地址。</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" ng-model="password" ng-minlength="6" ng-maxlength="20" name="password" placeholder="请输入密码..." required />
                                    <p>
                                        <span style="color: red" ng-show="loginForm.password.$invalid">
                                            <span ng-show="loginForm.password.$error.minlength">密码长度不小于6</span>
                                            <span ng-show="loginForm.password.$error.maxlength">密码长度不超过20</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                            <label><input type="checkbox" />Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                        <button data-dismiss="modal" type="submit" class="btn btn-default" ng-disabled="loginForm.email.$invalid || loginForm.name.$invalid || loginForm.password.$invalid" ng-click="login()">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    
        <!-- 注册 -->
        <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="register_controller">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            注册界面
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="registerForm" novalidate>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" ng-model="email" required/>
                                    <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                            <span ng-show="registerForm.email.$error.required">邮箱是必须的。</span>
                                            <span ng-show="registerForm.email.$error.email">非法的邮箱地址。</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" ng-model="password" ng-minlength="6" ng-maxlength="20" name="password" placeholder="请输入密码..." required/> 
                                    <p>
                                        <span style="color: red" ng-show="registerForm.password.$invalid">
                                            <span ng-show="registerForm.password.$error.minlength">密码长度不小于6</span>
                                            <span ng-show="registerForm.password.$error.maxlength">密码长度不超过20</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" ng-model="passwordagain" name="passwordagain" id="passwordagain" placeholder="请再输一遍密码..." required/>
                                    <p>
                                        <span style="color: red" ng-show="registerForm.password.$valid">
                                            <span ng-show="passwordagain!=password">*两次密码输入不一致</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                            <label><input type="checkbox" />Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" ng-disabled="registerForm.email.$invalid || registerForm.name.$invalid || registerForm.password.$invalid || password != passwordagain" data-dismiss="modal" ng-click="register">Sign up<span class="fa fa-arrow-right"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </body>
    <script src="/socket.io/socket.io.js"></script> 
    <script>
            var app = angular.module('login_app', []);
            app.controller('main_controller', function($scope,$http){

            });

            app.controller('login_controller', function($scope,$http){
                $scope.email = 'john.doe@gmail.com';
                $scope.login = function(){
                    console.log(this.email);
                    console.log(this.password);
                    var socket = io.connect();
                    socket.emit("login", {'email':this.email,'password':this.password});
                    socket.on('return_login', function(msg){
                        console.log(msg);
                        console.log(msg['verified']);
                        console.log(msg['verified'] == true);
                        console.log(msg['cookie']);
                        if(msg['verified'] == true){
                            document.cookie = msg['cookie'];
                            window.location.href = "/web/shouye.html";        
                        }else{
                            alert("用户不存在或密码不正确");
                        }
                    });
                    // window.location.href = "/web/shouye.html";
                };
            });

            app.controller('register_controller', function($scope, $http){

            });

    </script>
</html>
